<script>
  import Alert from "../components/Alerts/Alert.svelte";
  import Success from "../components/Alerts/Success.svelte";
  import { link } from "svelte-routing";
  import { navigate } from "svelte-routing";

  let email = "";
  let password = "";
  let showAlert = false;
  let alertMsg;
  let showLoginSuccess = false;
  let loginSuccessMsg;

  async function login(event) {
    event.preventDefault();
    // reseting alerts
    showAlert = false;
    showLoginSuccess = false;

    const rawResponse = await fetch(
      `https://trainlogapi.herokuapp.com/login/${email}/${password}`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        }
      }
    );

    const content = await rawResponse.json();

    if (typeof content.token === "undefined") {
      showAlert = true;
      alertMsg = "Wrong email or password!";
      return;
    }

    // All checks passed setting jwt token
    // kinda todo use cokie to store the jwt for best practices
    showLoginSuccess = true;
    loginSuccessMsg = "Succesefully logged in!";
    localStorage.setItem("jwt", content.token);

    setTimeout(() => {
      window.location.replace("/");
    }, 1000);
  }
</script>


{#if showAlert}
  <Alert msg={alertMsg}/>
{/if}

{#if showLoginSuccess}
  <Success msg={loginSuccessMsg}/>
{/if}

<div class="container">
  <form>
  	<div class="form-group">
  		<label for="InputEmail1">Email address</label>
  		<input bind:value={email} type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
  			placeholder="Enter email">
  	</div>
  	<div class="form-group">
  		<label for="InputPassword1">Password</label>
  		<input bind:value={password} type="password" class="form-control" id="InputPassword1" placeholder="Password">
  	</div>
  	<button on:click={login} class="btn btn-outline-secondary">Login</button>
    <small class="pt-2 form-text text-muted">You do not have an account? <a href="/register" use:link>Register</a></small>
  </form>
</div>
