<script>
  import Alert from "../components/Alerts/Alert.svelte";
  import Success from "../components/Alerts/Success.svelte";
  import { navigate } from "svelte-routing";

  let email = "";
  let pw1 = "";
  let pw2 = "";
  let showAlert = false;
  let alertMsg;
  let showSuccess;
  let successMsg;

  let user = {
    Email: "",
    Password: ""
  };

  async function register(event) {
    event.preventDefault();

    // reset alerts
    showAlert = false;

    // check if pws match
    if (pw1 != pw2) {
      showAlert = true;
      alertMsg = "Passwords do not match!";
      return;
    }

    user.Email = email;
    user.Password = pw1;

    const rawResponse = await fetch(`https://trainlogapi.herokuapp.com/user`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(user)
    });

    const content = await rawResponse.json();
    if (content.Message == "Email already exists") {
      showAlert = true;
      alertMsg = "Email already exists!";
      return;
    }

    showSuccess = true;
    successMsg = "Succesefully registered! Redirecting to login!";

    // TODO: log the user in instead of redirecting
    setTimeout(() => {
      navigate("/login", { replace: true });
    }, 1000);
  }
</script>

<style>
</style>

{#if showAlert}
  <Alert msg={alertMsg}/>
{/if}

{#if showSuccess}
  <Success msg={successMsg}/>
{/if}

<div class="container">
  <form>
    <div class="form-group">
      <label for="InputEmail1">Email address</label>
      <input bind:value={email} type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="InputPassword1">Password</label>
      <input bind:value={pw1} type="password" class="form-control" id="InputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="InputPassword2">Confirm Password</label>
      <input bind:value={pw2} type="password" class="form-control" id="InputPassword2" placeholder="Confirm Password">
    </div>
    <button on:click={register} class="btn btn-outline-secondary">Register</button>
  </form>
</div>
