<script>
  import { onMount } from "svelte";
  import { link } from "svelte-routing";
  import Alert from "../components/Alerts/Alert.svelte";

  let logs = [];
  let showAlert;
  let alertMsg;

  onMount(async () => {
    // TODO: add pagination or something if there are a lot of logs
    let url = "https://trainlogapi.herokuapp.com/logs/2000";
    // check if we have the jwt
    var jwt = localStorage.getItem("jwt");
    if (jwt == null) {
      showAlert = true;
      alertMsg = "Not logged in!";
      return;
    }

    // fetch all the logs
    const rawResponse = await fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwt}`
      }
    });
    const content = await rawResponse.json();
    logs = content;
    console.log(content);
  });

  function fmtDate(d) {
    var options = { day: "numeric", month: "numeric", year: "2-digit" };
    let rawDate = new Date(d);
    return rawDate.toLocaleDateString("de-DE", options);
  }
</script>

<style>
  .wrap-title {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
  }
</style>

{#if showAlert}
  <Alert msg={alertMsg}/>
{/if}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {#each logs as log, i}
        <tr>
          <th scope="row">{ fmtDate(log.Date)}</th>
          <td class="wrap-title">{log.Title}</td>
          <td><a class="btn btn-sm btn-outline-secondary" href="/viewlog/{log.ID}" use:link>View</a></td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>
