<script>
  import { onMount } from "svelte";
  import { writable } from "svelte/store";
  import { get } from "svelte/store";
  import Exercise from "../components/viewlogcomponents/Exercise.svelte";
  import NewExercise from "../components/viewlogcomponents/NewExercise.svelte";
  import Alert from "../components/Alerts/Alert.svelte";

  export let id; // the log id that gets passed in from the url

  let showAlert;
  let alertMsg;
  var exercisesStore;
  var exSub;
  let newExerCount = 0;
  $: newExeramount = new Array(newExerCount);

  let trainLog = {
    ID: id,
    Title: "placeholdertitle",
    Date: "2019-06-29 14:25:48",
    Exercises: [
      {
        ID: 24,
        CreatedAt: "2019-07-10T20:08:55.935697089+02:00",
        UpdatedAt: "2019-07-10T20:08:55.935697089+02:00",
        DeletedAt: null,
        LogID: 20,
        Name: "PlacerholderExer1",
        Weight: 255,
        Reps: 10,
        Sets: 11,
        Rest: "Short"
      }
    ]
  };

  onMount(async () => {
    let jwt = localStorage.getItem("jwt");
    if (jwt == null) {
      showAlert = true;
      alertMsg = "Not logged in!";
      return;
    }

    let url = `https://trainlogapi.herokuapp.com/log/${id}`;
    const rawResponse = await fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwt}`
      }
    });
    const content = await rawResponse.json();

    trainLog = content;
    trainLog.Date = content.Date.split("T")[0]; // cutting of the time because input value can only be in YYYY-MM-DD
    exercisesStore.set(trainLog.Exercises);
  });

  exercisesStore = writable(trainLog.Exercises);
  exSub = exercisesStore.subscribe(value => {
    console.log(value);
  });

  async function saveLog(event) {
    event.preventDefault();

    let jwt = localStorage.getItem("jwt");
    if (jwt == null) {
      showAlert = true;
      alertMsg = "Not logged in!";
      return;
    }

    // God knows why but for some reason trainLog gets or is synced with the exercisesStore
    // so we do not need to get that
    // converting string date to real date fmt
    trainLog.Date = new Date(trainLog.Date);
    let url = `https://trainlogapi.herokuapp.com/log`;
    const rawResponse = await fetch(url, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwt}`
      },
      body: JSON.stringify(trainLog)
    });
    const content = await rawResponse.json();

    // reloading current window
    location.reload();
  }

  function addExercise(event) {
    event.preventDefault();
    newExerCount += 1;
  }

  // maybe a cleaner way
  // function test(event) {
  //   event.preventDefault();
  //   trainLog.Exercises = [
  //     ...trainLog.Exercises,
  //     {
  //       ID: 99,
  //       CreatedAt: "2019-07-10T20:08:55.935697089+02:00",
  //       UpdatedAt: "2019-07-10T20:08:55.935697089+02:00",
  //       DeletedAt: null,
  //       LogID: 20,
  //       Name: "PushedToIT",
  //       Weight: 255,
  //       Reps: 10,
  //       Sets: 11,
  //       Rest: "Short"
  //     }
  //   ];
  // }
</script>

<style>
  .log-container {
    padding: 1em;
  }
</style>

{#if showAlert}
  <Alert msg={alertMsg}/>
{/if}


<div class="container log-container bg-light">
  <form class="">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="log-title">Title</label>
        <input bind:value={trainLog.Title} type="text" class="form-control">
      </div>
      <div class="form-group col-6">
        <label for="log-date">Date</label>
        <input bind:value={trainLog.Date} type="date" class="form-control" id="log-date">
      </div>
    </div>
    {#each trainLog.Exercises as exercise, i}
	     <Exercise ID={exercise.ID} exercise={exercise} exercises={exercisesStore} />
    {/each}

    {#each newExeramount as newexer, i}
	     <NewExercise index={i +10 **15} exercises={exercisesStore} LogID={trainLog.ID}/>
    {/each}

    <button on:click={addExercise} class="btn btn-outline-secondary">Add Exercise</button>
    <button on:click={saveLog} class="btn btn-outline-secondary">Save</button>
    <!-- <button on:click={test} class="btn btn-outline-secondary">Test</button> -->
  </form>
</div>
