<script>
  import { get } from "svelte/store";
  import { afterUpdate } from "svelte";
  import { onMount } from "svelte";

  export let index;
  export let exercises;

  let exercise = {
    index: index,
    Name: "",
    Weight: 0,
    Reps: 0,
    Sets: 0,
    Rest: ""
  };

  onMount(() => {
    // create a exercise object and add that to the exercises array
    let internalExercises = get(exercises);
    internalExercises.push(exercise);
    exercises.set(internalExercises);
  });

  afterUpdate(() => {
    // update exercises
    let internalExercises = get(exercises);
    internalExercises.forEach(function(exer) {
      if (exer.index === index) {
        exer.Name = exercise.Name;
        exer.Weight = exercise.Weight;
        exer.Reps = exercise.Reps;
        exer.Sets = exercise.Sets;
        exer.Rest = exercise.Rest;
        exercises.set(internalExercises);
      }
    });
  });

  function removeExercise() {
    let internalExercises = get(exercises);
    let newInternal = [];

    // delete exercise
    newInternal = internalExercises.filter(exer => exer.index !== index);
    // push new array
    exercises.set(newInternal);
    // hide this div
    document.getElementById("exer-" + index).style.display = "none";
  }
</script>

<style>
</style>

<div id="exer-{index}" class="form-row mb-2 border rounded bg-white">
	<div class="form-group col-7">
		<label for="exercise-name">Name</label>
		<input bind:value={exercise.Name} type="text" class="form-control" id="exercise-name" placeholder="Deadlift">
	</div>
	<div class="form-group col-5">
		<label for="weight">Weight</label>
		<input bind:value={exercise.Weight} type="number" class="form-control" id="weight" placeholder="174">
	</div>

  <div class="form-group col-4">
		<label for="reps">Reps</label>
		<input bind:value={exercise.Reps} type="number" class="form-control" id="reps" placeholder="12">
	</div>
  <div class="form-group col-3">
		<label for="sets">Sets</label>
		<input bind:value={exercise.Sets} type="number" class="form-control" id="sets" placeholder="3">
	</div>
  <div class="form-group col-5">
    <label for="rest">Rest</label>
    <select bind:value={exercise.Rest} class="custom-select" id="Rest">
      <option value="normal"selected>Normal</option>
      <option value="long">Long</option>
      <option value="short">Short</option>
    </select>
	</div>
  <div class="form-group col">
    <button on:click={removeExercise} type="button" class="btn btn-danger btn-sm float-right">Remove</button>
  </div>
</div>
