<style>
  .log-container {
    padding: 1em;
  }
</style>

<script>
  import Alert from "../components/Alerts/Alert.svelte";
  import Success from "../components/Alerts/Success.svelte";
  import { onMount } from "svelte";
  import Exercise from "./Exercise.svelte";
  import { writable } from "svelte/store";
  import { get } from "svelte/store";
  import { navigate } from "svelte-routing";

  let showAlert;
  let showSuccess;
  let alertMsg;
  let successMsg;
  let logTitle = "";
  let logDate = new Date();
  let count = 1;
  $: exeramount = new Array(count);

  onMount(() => {
    // TODO: how to remove the 2019 and just get 19 as year
    document.getElementById("log-date").valueAsDate = new Date();
  });

  const exercisesStore = writable([]);

  const exSub = exercisesStore.subscribe(value => {
    console.log(value);
  });

  function addExercise(event) {
    event.preventDefault();
    count += 1;
  }

  async function saveLog(event) {
    let url = "https://trainlogapi.herokuapp.com/log";
    let exercises = get(exercisesStore);
    event.preventDefault();
    // reseting vars
    showAlert = false;

    // check for empty logs that are most likely accidental
    // i can not think of a situation where one wants to create a single log with no titlte no or 1 exercise where that exercise has also no title
    if (logTitle == "" && exercises.length == 0) {
      showAlert = true;
      alertMsg = "Your log is completly empty and has no exercises!";
      return;
    }

    if (logTitle == "" && exercises[0].Name == "") {
      showAlert = true;
      alertMsg = "Your log is completly empty!";
      return;
    }

    // check if we have the jwt
    var jwt = localStorage.getItem("jwt");
    if (jwt == null) {
      showAlert = true;
      alertMsg = "Not logged in! Use another tab to login to not lose your log";
      return;
    }

    let payload = {
      title: logTitle,
      date: new Date(logDate),
      exercises: exercises
    };

    const rawResponse = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwt}`
      },
      body: JSON.stringify(payload)
    });
    const content = await rawResponse.json();
    console.log(content);

    showSuccess = true;
    successMsg = "Log Saved! Redirecting";

    //redirecting to viewlog
    setTimeout(() => {
      navigate(`/viewlog/${content.ID}`);
    }, 1000);
  }

  // TODO: add note support
</script>

{#if showAlert}
  <Alert msg={alertMsg}/>
{/if}
{#if showSuccess}
  <Success msg={successMsg}/>
{/if}
<div class="container log-container bg-light">
  <form class="">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="log-title">Title</label>
        <input bind:value={logTitle} type="text" class="form-control" id="log" placeholder="Leg Day">
      </div>
      <div class="form-group col-6">
        <label for="log-date">Date</label>
        <input bind:value={logDate} type="date" class="form-control" id="log-date">
      </div>
    </div>
    {#each exeramount as item, i}
	     <Exercise index={i} exercises={exercisesStore} />
    {/each}
    <button on:click={addExercise} class="btn btn-outline-secondary">Add Exercise</button>
    <button on:click={saveLog} class="btn btn-outline-secondary">Save Log</button>
  </form>
</div>
