<script>
  import { link } from "svelte-routing";

  let jwt = localStorage.getItem("jwt");
  let showLogin = true;
  let showRegister = true;

  $: if (jwt !== null) {
    showLogin = false;
    showRegister = false;
  }
</script>

<style>
</style>

<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">TrainLog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

    {#if showLogin}
    <li class="nav-item">
      <a class="nav-link mt-4 mr-2 btn btn-outline-secondary" href="/login" use:link>Login</a>
    </li>
    {/if}

    {#if showRegister}
    <li class="nav-item">
      <a class="nav-link mt-4 mr-2 btn btn-outline-secondary" href="/register" use:link>Register</a>
    </li>
    {/if}

			<li class="nav-item">
				<a class="nav-link mt-4 mr-2 btn btn-outline-secondary" href="/" use:link>Create</a>
			</li>
			<li class="nav-item">
				<a class="nav-link mt-4 mr-2 btn btn-outline-secondary" href="/viewlogs" use:link>View</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-secondary my-2 my-sm-0">Search</button> -->
		</form>
	</div>
</nav>
