<script>
  import Navbar from "./components/Navbar.svelte";
  import Log from "./components/Log.svelte";
  import Viewlogs from "./routes/Viewlogs.svelte";
  import Viewlog from "./routes/Viewlog.svelte";
  import Login from "./routes/Login.svelte";
  import Register from "./routes/Register.svelte";
  import { Router, Route } from "svelte-routing";

  export let url = "";
</script>

<style>
</style>

<Router url="{url}">
  <Navbar />
  <Route path="/" component="{Log}" />
  <Route path="/login" component="{Login}" />
  <Route path="/register" component="{Register}" />
  <Route path="/viewlogs" component="{Viewlogs}" />
  <Route path="/viewlog/:id" component="{Viewlog}" />
</Router>
