<script>
  import { get } from "svelte/store";
  import { afterUpdate } from "svelte";
  import { onDestroy } from "svelte";
  import { onMount } from "svelte";

  export let exercise; // this is the single exercise that gets displayed here
  export let exercises; // these are all the exercises for the particular log aka exercisesStore
  export let ID;

  async function removeExercise() {
    let jwt = localStorage.getItem("jwt");

    // delete on server
    let url = `https://trainlogapi.herokuapp.com/exercise/${ID}`;
    const rawResponse = fetch(url, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${jwt}`
      }
    });

    let internalExercises = get(exercises);
    let newInternal = [];

    // delete exercise
    newInternal = internalExercises.filter(exer => exer.ID !== exercise.ID);
    // set new array
    exercises.set(newInternal);
    // hide this div
    document.getElementById("exer-" + ID).style.display = "none";
  }

  afterUpdate(() => {
    // update exercises
    let internalExercises = get(exercises);
    internalExercises.forEach(function(exer) {
      if (exer.ID === exercise.ID) {
        exer.Name = exercise.Name;
        exer.Weight = exercise.Weight;
        exer.Reps = exercise.Reps;
        exer.Sets = exercise.Sets;
        exer.Rest = exercise.Rest;
        exercises.set(internalExercises);
      }
    });
  });
</script>

<style>
</style>

<div id="exer-{ID}" class="form-row mb-2 border rounded bg-white">
	<div class="form-group col-7">
		<label for="exercise-name">Name</label>
		<input bind:value={exercise.Name} type="text" class="form-control" id="exercise-name" placeholder="Deadlift">
	</div>
	<div class="form-group col-5">
		<label for="weight">Weight</label>
		<input bind:value={exercise.Weight} type="number" class="form-control" id="weight" placeholder="174">
	</div>

  <div class="form-group col-4">
		<label for="reps">Reps</label>
		<input bind:value={exercise.Reps} type="number" class="form-control" id="reps" placeholder="12">
	</div>
  <div class="form-group col-3">
		<label for="sets">Sets</label>
		<input bind:value={exercise.Sets} type="number" class="form-control" id="sets" placeholder="3">
	</div>
  <div class="form-group col-5">
    <label for="rest">Rest</label>
    <select bind:value={exercise.Rest} class="custom-select" id="rest">
      <option value="Normal"selected>Normal</option>
      <option value="Long">Long</option>
      <option value="Short">Short</option>
    </select>
	</div>
  <div class="form-group col">
    <button on:click={removeExercise} type="button" class="btn btn-danger btn-sm float-right">Remove</button>
  </div>
</div>
